@use 'base/mixins' as m;
@use 'base/variables' as v;

.auth {
  @include m.contenedor-sm;

  &__heading {
    @include m.nombre-pagina;
  }

  &__text {
    font-size: 2rem;
    font-weight: v.$bold;
    text-align: center;

    &--correcto {
      color: v.$verde;
      font-size: 2.3rem;
    }
  }
}



