@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloques {
	@include m.contenedor;
	@include m.tablet {
		margin-top: 10rem;
	}

	&__grid {
		@include m.grid(1, 2rem);

		@include m.tablet {
			@include m.grid(2, 3rem);
		}
	}
}

.bloque {
	padding: 2rem;
	color: v.$gris-claro;
	border-radius: 1rem;

	&:nth-child(1) {
		@include m.bg_gradient(#f97616);
	}

	&:nth-child(2) {
		@include m.bg_gradient(#a855f7);
	}

	&:nth-child(3) {
		@include m.bg_gradient(#65a303);
	}

	&:nth-child(4) {
		@include m.bg_gradient(#17769e);
	}

	&__heading {
		margin: 1rem 0 2rem 0;
		font-size: 3.6rem;
	}

	&__texto {

		margin: 1rem 0;

    &--ultimos-registros {
      @extend .bloque__texto;
      text-transform: capitalize;
    }

		&--cantidad {
			margin-top: 5rem;
			font-weight: v.$black;
			font-size: 6rem;
			text-align: center;
		}
	}
}
